* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #ffebcd;
  color: #5f9ea0;
  font-family: "Poppins", sans-serif;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  max-width: 600px;
  background-color: #f0ffff;
  text-align: center;
  font-size: 28px;
  box-shadow: 0 2px 7px black;
  border-radius: 4px;
}

.main01 {
  width: 100%;
  max-width: 600px;
  background-color: #f0ffff;
  margin-top: 20px;
  box-shadow: 0 2px 7px black;
  padding: 30px 20px;
  border-radius: 4px;
}
.main01 .mainWrapper {
  width: 100%;
}
.main01 .mainWrapper h3 {
  font-size: 26px;
  margin-bottom: 40px;
}
.main01 .mainWrapper form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main01 .mainWrapper form label {
  width: 100%;
  font-size: 16px;
}
.main01 .mainWrapper form label input {
  width: 100%;
  height: 30px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #5f9ea0;
  margin: 10px 0 20px 0;
  font-size: 18px;
  color: #5f9ea0;
  padding: 2px 4px;
}
.main01 .mainWrapper form label input:focus {
  box-shadow: 0 0 8px #5f9ea0;
}
.main01 .mainWrapper form label input::-moz-placeholder {
  font-size: 14px;
}
.main01 .mainWrapper form label input:-ms-input-placeholder {
  font-size: 14px;
}
.main01 .mainWrapper form label input::placeholder {
  font-size: 14px;
}
.main01 .mainWrapper form label select {
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #5f9ea0;
  color: #5f9ea0;
  margin-bottom: 20px;
  margin-left: 10px;
  outline: none;
}
.main01 .mainWrapper form label select:focus {
  box-shadow: 0 0 8px #5f9ea0;
}
.main01 .mainWrapper form .inputError {
  border: 1px solid red;
  -webkit-animation: shake 1s;
          animation: shake 1s;
}
.main01 .mainWrapper form .inputError::-moz-placeholder {
  color: red;
}
.main01 .mainWrapper form .inputError:-ms-input-placeholder {
  color: red;
}
.main01 .mainWrapper form .inputError::placeholder {
  color: red;
}
@-webkit-keyframes shake {
  20% {
    margin-left: -2px;
  }
  40% {
    margin-left: 2px;
  }
  60% {
    margin-left: -2px;
  }
  80% {
    margin-left: 2px;
  }
  100% {
    margin-left: 0;
  }
}
@keyframes shake {
  20% {
    margin-left: -2px;
  }
  40% {
    margin-left: 2px;
  }
  60% {
    margin-left: -2px;
  }
  80% {
    margin-left: 2px;
  }
  100% {
    margin-left: 0;
  }
}
.main01 .mainWrapper form .submitButton {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #5f9ea0;
  color: #f0ffff;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.main01 .mainWrapper form .submitButton:hover {
  transform: scale(1.1);
}

.main02 {
  width: 100%;
  max-width: 600px;
  background-color: #f0ffff;
  margin-top: 20px;
  box-shadow: 0 2px 7px black;
  padding: 30px 15px;
  border-radius: 4px;
  display: none;
}
.main02 .mainWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main02 .mainWrapper p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.main02 .mainWrapper .submitButton {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: #5f9ea0;
  color: #f0ffff;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
.main02 .mainWrapper .submitButton:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */